* {
    margin: 0;
    padding: 0;
}

#main {
    background: rgb(38, 29, 186);
    background: linear-gradient(90deg, rgba(38, 29, 186, 1) 39%, rgba(195, 100, 52, 1) 83%, rgba(255, 128, 0, 1) 100%);
    height: 100vh;
}

#about {
    height: 100vh;
    text-align: center;
    line-height: 3rem;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 39%, rgba(233, 186, 148, 0.46262254901960786) 100%);
    ;
}

#about ul {
    list-style: none;
}

#projects {
    height: 100vh;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 40%, rgba(233, 186, 148, 0.46262254901960786) 100%);
}

#contact {
    height: 100vh;
}

a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

nav {
    padding: 20px;
    background-color: aqua;
}

.Me {
    margin-top: 15%;
    margin-left: 2%;
    line-height: 3rem;
    color: black;
}

#author {
    color: chocolate;
}

#skill {
    color: coral;
}

.img {
    float: right;
    margin-top: -21%;
}