* {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
}

#about {
    height: 100vh;
}

#projects {
    height: 100vh;
}

#contact {
    height: 100vh;
}

a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

nav {
    padding: 20px;
    background-color: aqua;
}